.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  overflow-y: auto;

  &.is-active {
    display: block;
  }
}

.modal__wrap {
  margin-bottom: 50px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -682px;
  padding: 3px;
  width: 1364px;
  background-color: #fff;
  box-shadow: 0 0 73px rgba(0,0,0,0.5);
}


.modal__top {
  position: absolute;
  z-index: 10;
  top: -40px;
  left: -10px;
  right: -10px;
}

.modal__top-item {
  padding: 9px 0;
  float: left;
  font-size: 35px;
  text-align: center;
  line-height: 1;
  color: #545454;
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 21%, rgba(246,246,246,1) 48%, rgba(243,243,243,1) 71%, rgba(243,243,243,1) 100%);

  &--name {
    padding-left: 50px;
    width: 30%;
    text-align: left;
    clip-path: polygon(0% 0%, 98% 0%, 91% 100%, 0% 100%);
  }

  &--call {
    margin-left: -35px;
    width: 40%;
    clip-path: polygon(7% 0%, 98% 0%, 92% 100%, 2% 100%);
  }

  &--tel {
    margin-left: -35px;
    width: 24%;
    clip-path: polygon(11% 0%, 98% 0%, 89% 100%, 2% 100%);
  }

  &--close {
    margin-left: -28px;
    width: 13%;
    color: #000;
     clip-path: polygon(19% 0%, 100% 0%, 100% 100%, 2% 100%);
    svg {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      fill: currentColor;
    }
    &:hover,
    &:focus {
      color: #e61f26;
    }
  }
}

.modal__gallery {
  //height: 520px;
}

.modal__content {
  padding: 50px 100px 120px;
  &--expanded {
    padding: 35px 0 100px;
  }
}

 
.modal__advantages-list {
  margin-bottom: 55px;
}

.modal__description {
  margin-bottom: 90px;
  font-family: 'Myriad Pro';
  font-size: 30px;
  line-height: 1.17;
  color: #000;

  p:not(:last-child) {
    margin-bottom: 40px;
  }

  &--expanded {
    margin-bottom: 60px;
    text-align: center;
  } 
}

.modal__form {
  margin-top: auto;
  flex-wrap: wrap;
}

.modal__input[type="text"] {
  padding: 15px 20px;
  font-size: 30px;
  margin-right: 60px;
  width: 320px;
  border: 1px solid #000;
  border-radius: 2px;
}

.modal__input--expanded[type="text"] {
  margin-right: 0;
  margin-bottom: 50px;
  width: 360px;
}

.modal__input[type="text"]::-webkit-input-placeholder {
  font-family: 'Myriad Pro';
  font-size: 30px;
  line-height: 1.17;
  font-weight: bold;
  color: #d1d1d1;
}
.modal__input[type="text"]::-moz-placeholder {
  font-family: 'Myriad Pro';
  font-size: 30px;
  line-height: 1.17;
  font-weight: bold;
  color: #d1d1d1;
}
.modal__input[type="text"]:-ms-input-placeholder {
  font-family: 'Myriad Pro';
  font-size: 30px;
  line-height: 1.17;
  font-weight: bold;
  color: #d1d1d1;
}
.modal__input[type="text"]:-moz-placeholder { 
  font-family: 'Myriad Pro';
  font-size: 30px;
  line-height: 1.17;
  font-weight: bold;
  color: #d1d1d1;
}

.modal__variant {
  display: none;
}

.modal__submit {
  font-family: 'VoxRegular';
  padding: 20px 0;
  display: inline-block;
  width: 260px;
  font-size: 26px;
  line-height: 1;
  height: auto;
  vertical-align: middle;
  border-radius: 2px;

  &--expanded {
    width: 390px;
  }
}

.modal__content-left {
  width: 68.75%;
  padding: 0 60px;
  border-right: 1px solid #616161;
}

.modal__content-right {
  width: 31.25%;
  padding: 0 40px 0 20px;
}

.modal__content-container {
  align-items: stretch;
}


.modal__content-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal__content-project-title {
  margin-bottom: 25px;
  font-size: 35px;

  &--tabs {
    color: #545454;
    text-align: center; 
    cursor: pointer
  }
}

.modal__content-project-list {
  margin-bottom: auto;
  font-family: 'Myriad Pro';
  font-size: 25px;

  li {
    position: relative;
    padding-left: 20px;
    &::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 50%;
      width: 10px;
      height: 1px;
      background-color: #000;
    }
  }

  &:last-of-type {
    margin-top: 40px;
  }
}

.modal__content-project-price {
  margin-top: 50px;
  margin-bottom: 20px;
  display: block;
  padding-left: 45px;
  font-size: 25px;
}

.modal__content-project-estimate {
  font-size: 20px;
}

.modal__content-project-link {
  display: inline-block;
  padding: 14px 37px;
  font-family: 'Myriad Pro';
  font-size: 20px;
  line-height: 1;
  color: #e61f26;
  border: 1px solid #f02626;

  &:hover {
    box-shadow: inset 0 0 5px 0 rgba(255, 42, 50, 0.3), 0 0 5px 0 rgba(255, 42, 50, 0.3);
  }
}

.modal__content-container-tab {
  height: 100%;
  p:not(:first-of-type) {
    margin-bottom: 35px;
    font-family: 'Myriad Pro';
    font-size: 30px;
    line-height: 1.2;
  }
  .uppercase {
    text-transform: uppercase;
  }

  ul {
    font-family: 'Myriad Pro';
    font-size: 30px;
    line-height: 1.2;
  }
}

.modal__content-flex  {
  display: flex;
  flex-direction: column;

  &--row {
    flex-direction: row;
  }
}

.modal__content-project-tabs {
  margin-top: 50px;
  font-family: 'Myriad Pro';
  font-size: 25px;
}

.modal__content-project-tab {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal__content-project-tab-img {
  width: 57px;
  width: 15%;
  height: 57px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--mortgage {
    background-image: url("../img/ic_tab1.png");
  }

  &--architect {
    background-image: url("../img/ic_tab2.png");
  }

  &--houses {
    background-image: url("../img/ic_tab3.png");
  }

  &--reviews {
    background-image: url("../img/ic_tab4.png");
  }

  &--documents {
    background-image: url("../img/ic_tab5.png");
  }
}

.modal__content-project-tab.is-active {
  .modal__content-project-tab-img {
    background-image: url("../img/ic_tab-arrow.png");
    background-size: 60%;
  }
}

.modal__content-project-tab-text {
  width: 85%;
  margin-left: 10px;
  text-decoration: underline;

  &--mortgage,
  &--documents {
    color: #139c01;
  }

  &--architect,
  &--houses,
  &--reviews {
    color: #ff6c0a;
  }
}

.modal__partners-list {
  margin-bottom: 65px;
}

.modal__partners-item {
  width: 30%;
}

.modal__reviews-video {
  width: 100%;
  height: 75%;
}


@media screen and (max-width: 1919px)  {

  .modal__wrap {
    top: 50px;
    margin-left: 0;
    padding: 3px;
    width: 1000px;
    transform: translateX(-50%);
  }

  .modal__top {
    top: -30px;
  }

  .modal__top-item {
    font-size: 24px;

    &--name {
   
    }

    &--call {
      margin-left: -30px;
    }

    &--tel {
      margin-left: -32px;
      width: 26%;
    }

    &--close {
      margin-left: -26px;
      width: 12.5%;
      clip-path: polygon(21% 0%, 100% 0%, 100% 100%, 2% 100%);

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .modal__gallery {
    //height: 370px;
  }

  .modal__content {
    padding: 30px 50px 80px;
  }
 
  .modal__advantages-list {
    margin-bottom: 35px;
  }

  .modal__description {
    margin-bottom: 50px;
    font-size: 24px;

    p:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .modal__input[type="text"] {
    padding: 10px 15px;
    margin-right: auto;
    width: 30%;
    font-size: 22px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 22px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 22px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 22px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 22px;
  }

  .modal__submit {
    padding: 13px 0;
    width: 30%;
    font-size: 23px; 
  }	

  .modal__content--expanded {
    padding: 30px 0 40px;
  }

  .modal__content-project-price {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 22px;
  }

  .modal__content-left {
    padding: 0 40px;
  }

  .modal__content-project-title {
    font-size: 30px;
  }


  .modal__content-project-list {
    font-size: 22px;

    &:last-of-type {
      margin-top: 20px;
    }
  }

  .modal__content-right {
    padding: 0 20px;
  }

  .modal__content-project-tabs {
    margin-top: auto;
    font-size: 20px;
  }

  .modal__content-container-tab {
    p:not(:first-of-type) {
      font-size: 22px;
      margin-bottom: 15px;
    }

    ul {
      font-size: 22px;
    }

    li {
      margin-bottom: 4px;
    }
  } 

  .modal__partners-list {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .modal__input--expanded[type="text"] {
    margin-right: 0;
    margin-bottom: 30px;
    width: 45%;
    &:first-of-type {
      margin-right: auto;
    }
  }

  .modal__submit--expanded {
    width: 100%;
  } 

  .modal__content-project-tab {
    margin-bottom: 15px; 
  }

}

@media screen and (max-width: 1279px) {
	
}

@media screen and (max-width: 1023px) and (min-width: 320px) {

  .modal__wrap {
    width: 80%;
  }

	.modal__top-item {
    clip-path: none;

    &--name {
      width: 80%;
      padding-left: 0;
      text-align: center;
    }

    &--call {
      display: none;
    }

    &--tel {
      display: none;
    }

    &--close {
      margin-left: 1%;
      width: 19%;
    }
  }

  .modal__content {
    padding: 20px 30px 40px;
  }

  .modal__advantages-list {
    display: none;
  }

  .modal__description {
    margin-bottom: 20px;
    font-size: 18px;
    p {
      margin-bottom: 8px;
    }
  }

  .modal__form {
    flex-wrap: wrap;
  }

  .modal__input[type="text"] {
    margin-bottom: 15px;
    padding: 10px 15px;
    width: 100%;
    font-size: 18px;

    &:nth-of-type(2) {
      margin-bottom: 30px;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 18px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 18px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 18px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 18px;
  }

  .modal__submit {
    padding: 15px 0;
    width: 100%;
    font-size: 18px;
  }

  .modal__content--expanded {
    padding: 20px;
  }

  .modal__content-flex--row,
  .modal__content-container {
    flex-wrap: wrap;
  }

  .modal__content-left {
    order: 2;
    width: 100%;
    border-right: 0;
    padding: 0;
  }

  .modal__content-right {
    margin-bottom: 20px;
    order: 1;
    width: 100%;
    padding: 0;
  }

  .modal__content-project-title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .modal__content-project-tab-img {
    height: 40px;
  }

  .modal__content-project-tab.is-active .modal__content-project-tab-img {
    background-size: 40% auto;
  }

  .modal__content-project {
    &--light {
      margin-bottom: 40px;

      .modal__content-project-list {
        margin-top: 0;
      }
    }
  }

  .modal__content-project-list {
    font-size: 18px;
  }

  .modal__content-project-price {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 0;
    text-align: center;
  }

  .modal__content-project-link {
    display: block;
    padding: 12px 0;
    width: 100%;
    text-align: center;
  }

  .modal__content-container-tab {
    p:not(:first-of-type) {
      font-size: 18px;
      margin-bottom: 10px;
    }

    ul {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }
}

