@font-face {
		font-family: 'VoxRegular';
		src: url('../fonts/VoxRegular15.eot');
		src: url('../fonts/VoxRegular15.eot?#iefix') format('embedded-opentype'),
				url('../fonts/VoxRegular15.woff2') format('woff2'),
				url('../fonts/VoxRegular15.woff') format('woff'),
				url('../fonts/VoxRegular15.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}


@font-face {
		font-family: 'VCROSD Mono';
		src: url('../fonts/VCROSDMono.eot');
		src: url('../fonts/VCROSDMono.eot?#iefix') format('embedded-opentype'),
				url('../fonts/VCROSDMono.woff2') format('woff2'),
				url('../fonts/VCROSDMono.woff') format('woff'),
				url('../fonts/VCROSDMono.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'Myriad Pro';
		src: url('../fonts/MyriadProRegular.eot');
		src: url('../fonts/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
				url('../fonts/MyriadProRegular.woff2') format('woff2'),
				url('../fonts/MyriadProRegular.woff') format('woff'),
				url('../fonts/MyriadProRegular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'Myriad Pro';
		src: url('../fonts/MyriadProSemibold.eot');
		src: url('../fonts/MyriadProSemibold.eot?#iefix') format('embedded-opentype'),
				url('../fonts/MyriadProSemibold.woff2') format('woff2'),
				url('../fonts/MyriadProSemibold.woff') format('woff'),
				url('../fonts/MyriadProSemibold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
}

@font-face {
		font-family: 'Noway Regular';
		src: url('../fonts/NowayRegular.eot');
		src: url('../fonts/NowayRegular.eot?#iefix') format('embedded-opentype'),
				url('../fonts/NowayRegular.woff2') format('woff2'),
				url('../fonts/NowayRegular.woff') format('woff'),
				url('../fonts/NowayRegular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'Minion Pro';
		src: url('../fonts/MinionProRegular.eot');
		src: url('../fonts/MinionProRegular.eot?#iefix') format('embedded-opentype'),
				url('../fonts/MinionProRegular.woff2') format('woff2'),
				url('../fonts/MinionProRegular.woff') format('woff'),
				url('../fonts/MinionProRegular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'Calibri';
		src: url('../fonts/CalibriLightr.eot');
		src: url('../fonts/CalibriLight.eot?#iefix') format('embedded-opentype'),
				url('../fonts/CalibriLight.woff2') format('woff2'),
				url('../fonts/CalibriLight.woff') format('woff'),
				url('../fonts/CalibriLight.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
}